.acound-header
{
	background-image:url(../images/account-header.jpg);
	backgroun-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
}

.account-container
{
	display:block;
	padding-bottom:50px;
}
.account-holder-panel
{
	position:relative;
	display:block;
	padding:75px 0px;
	padding-left:309px;
}
.account-holder-image
{
	position:absolute;
	top:-80px;
	left:0px;
}
.account-holder-uploader-form
{
	position:absolute;
	top:85px;
	left:206px;
	z-index:3;
	background:url(../images/edit-photo-icon.png);
	border:0px;	
	outline:0px;
	width:35px;
	height:35px;
	overflow:hidden;
	
}
.account-holder-uploader-form:hover
{
	background:url(../images/edit-text-icon.png);
}
.account-holder-uploader-form input
{
	opacity:0;	
}

.account-holder-name
{
	color:#000;
	font-size:24px;
	padding:0px;
	margin:0px;
	font-weight:400;
	background:url(../images/user-image-heading1.png) no-repeat left bottom;
	padding-bottom:10px;
	margin-bottom:8px;
	
}

.account-holder-detail
{
	color:#7b7b7b;
	font-size:18px;
	font-weight:700;
}



.blue-upload
{
	background:url(../images/edit-text-icon.png);
	border:0px;
	cursor:pointer;
	outline:0px;
	width:35px;
	font-size:0px;
	height:35px;
}

.account-holder-descripation-panel
{
	position:relative;
	display:block;
	padding:55px 0px;
	padding-bottom:0px;
	
}
.account-holder-descripation-panel p
{
	color:#000;
	font-size:16px;
	font-weight:300;
}
.editable-box,#editable-box-para
{
	
	height:145px;
	overflow:auto;
	border:0px;
	outline:0px;
	width:85%;
	
	
}
.editable-box
{
	display:none;
	padding:10px;
	display:none;
	border:1px solid #999;
}
#account-holder-descripation-edit
{
	position:absolute;
	right:0px;
	top:45px;
	z-index:2;
}
.Account-Information-div h3
{
	color:#000;
	font-size:26px;
	font-weight:400;
	margin:0px;
	padding:0px;
	margin-bottom:20px;
}
.Account-Information-div a
{
	color:#004578;
	font-size:14px;
	font-weight:400;
	margin:0px;
	padding:0px;
	margin-bottom:20px;
}
.Private-Controls-heading
{
	color:#000;
	font-size:26px;
	font-weight:400;
	text-transform:uppercase;
	margin-bottom:40px;
}
ul.Private-Controls
{
	margin:0px;
	padding:0px;
	text-align:center;
}
ul.Private-Controls li
{
	display:inline-block;
	list-style:none;
	width:33%;
	
}
ul.Private-Controls li select
{
	background-color:#eeeeee;
	color:#000;
	font-size:16px;
	margin:0px 15px;
	border-radius: 0px;
}
ul.Private-Controls li label
{
	
	font-size:18px;
	color:#000;
}
ul.Private-Controls li:first-child
{
	text-align:left;
}
ul.Private-Controls li:last-child
{
	text-align:right;
}






ul.Social-MEDIA0-Account-Settings
{
	margin:0px;
	padding:0px;
}

ul.Social-MEDIA0-Account-Settings li
{
	display:inline-block;
	list-style:none;
	width:24.5%;
	margin-bottom:8px;
}
ul.Social-MEDIA0-Account-Settings li select
{
	background-color:#eeeeee;
	color:#000;
	font-size:16px;
	margin:0px 15px;
}
ul.Social-MEDIA0-Account-Settings li label
{
	
	font-size:18px;
	color:#000;
}
ul.Social-MEDIA0-Account-Settingss li:first-child
{
	text-align:left;
}


.add-account-btn,.add-account-btn-active
{
	background:#eeeeee;
	padding:8px 15px;
	font-size:16px;
	border:0px;
	color:#000;
	font-weight:400;
	outline:0;
	width:200px;
	text-align:left;
	margin:0px 15px;
}
.add-account-btn-active
{
	background:#eeeeee url(../images/right-connected.png) no-repeat 172px 14px;
}









@media only screen and (max-width:984px)
{
	.account-holder-image
	{
		width:130px;
	}
	.account-holder-panel {
    
    padding: 25px 0px;
    padding-left: 169px;
}
.account-holder-uploader-form {
   
    top: 3px;
    left: 86px;
}
account-holder-descripation-panel {
  
    padding: 25px 0px;
   
}
#account-holder-descripation-edit {
   
    top: 25px;
  
}
.account-container .banner-link
{
	padding:8px 18px;
	font-size:14px;
	margin:30px 0px;
}
.editable-box, #editable-box-para
{
	height: 95px;
	margin-bottom:30px;
}
ul.Private-Controls li
{
	text-align:center !important;
	width:auto;
	margin:10px 0px;
}
ul.Social-MEDIA0-Account-Settings li
{
	text-align:center !important;
	width:auto;
	margin:10px 5px;
}

}
@media only screen and (max-width:768px)
{
	.account-container
{
	padding:0px 50px;
	padding-bottom:50px; 
}
	.account-holder-descripation-panel
	{
		padding:0px;
	}
	#account-holder-descripation-edit {
    top: -35px;
}
.Account-Information-div
{
	margin-bottom:30px;
}
}
@media only screen and (max-width:458px)
{
	.account-holder-panel {
    padding: 25px 0px !important;
	padding-top:80px !important;
   
}
.account-container a.banner-link
{
	padding:8px 47px;
	float:left;
	margin-bottom:0px;
	clear:both;
}
ul.Private-Controls li select
{
	margin:5px 0px !important; 
}
}