<div class="container-fluid" data-speed="6" >
    <div class="container">
                <div class="row top-padding">
                <div class="col-sm-12">
                            <div class="col-sm-3">
                                    <a href="index.html"><img src="{% static "images/logo.png" %}" alt="My image"/></a>
                                </div>
                                <div class="col-sm-9 menu-responsive">
                                    <div class="col-sm-12 responsive-div">
                                            <ul class="sing-up-sing-in-ul pull-right">
                                                    <li><a href="#">Sign up</a></li>
                                                        <li> | </li>
                                                        <li><a href="#">Sign in</a></li>
                                                </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-12 responsive-div">
                                       
                              
                                          <div class="navbar-header">
      <button type="button" class="navbar-toggle">
       Menu <span class="icon-bar glyphicon glyphicon-menu-hamburger"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
                                                     <ul class="main-menu">
                                                          <li class="active"><a href="index.html">Home &nbsp; <i class="glyphicon glyphicon-menu-down"></i></a>
                                                          <ul>
                                                              
                                                                <li><a href="account.html">Account</a></li>
                                                               <li><a href="addplugin.html">Addplugin</a></li> 
                                                               <li><a href="help.html">Help</a></li> 
                                                               <li><a href="plugin-2.html">Plugin-2</a></li>
                                                               <li><a href="plugin.html">Plugin</a></li>
                                                               <li><a href="plugin-details.html">Plugin-details</a></li>
                                                               <li><a href="plugin-details-2.html">Plugin-details-2</a></li>
                                                               <li><a href="login.html">Login</a></li>
                                                               <li><a href="BIOGPS-search-results.html">Search Page</a></li>
                                                               </ul>
                                                          </li>
                                                          <li><a href="#">Help</a></li>
                                                          <li>
                                                            <a href="#">About </a>
                                                              
                                                          </li>
                                                         <li><a href="#">Contact</a></li>
                                                         <li><a href="#">Blog</a></li>
                                                        </ul>
                                        </div>
                                </div>
                        </div>
                    </div>
        </div>
</div>
{% block content %}{% endblock content %}